In [1]:
#Import all the necessary libraries here
import numpy as np
import pandas as pd
import seaborn as sns

# Footwear
The given dataset contains the profits generated(in %) by all the suppliers of a footwear company in 4 major cities of India - Delhi, Mumbai, Jaipur and Hyderabad. The company wants to invest more money in the city that is showing the most promise. Analyse the dataset and answer the following questions.

In [2]:
#loading data
df=pd.read_csv("Footwear_v2.csv")

In [3]:
df

       Supplier   Delhi Mumbai Jaipur Hyderabad
0    Supplier 1   4.57%  4.18%  7.90%     8.54%
1    supplier 2   2.60%  1.88%  8.99%     9.23%
2    supplier 3   2.26%  7.48%  6.71%     7.84%
3    supplier 4   6.47%  6.70%  7.94%     9.89%
4    supplier 5   6.82%  1.17%  8.54%     5.67%
5    supplier 6   4.68%  6.44%  6.52%     3.03%
6    supplier 7   7.43%  3.52%  7.12%     8.47%
7    supplier 8   4.49%  2.42%  7.79%     9.40%
8    supplier 9   5.72%  6.39%  8.99%     8.67%
9   supplier 10   5.64%  7.79%  7.57%     8.50%
10  supplier 11   6.27%  5.94%  9.21%     6.40%
11  supplier 12   4.88%  9.07%  7.10%     8.80%
12  supplier 13   5.15%  2.44%  9.05%     5.76%
13  supplier 14   8.52%  2.42%  9.50%    11.49%
14  supplier 15  11.96%  6.17%  4.54%    10.49%
15  supplier 16   5.26%  0.29%  7.60%     6.02%
16  supplier 17   8.13%  8.50%  8.95%     4.64%
17  supplier 18   5.93%  5.57%  9.79%     8.14%
18  supplier 19   6.05%  1.14%  4.92%     8.71%
19  supplier 20   6.67%  3.67%  8.35%    12.31%
20  supplier 21   5.34%  5.82%  6.99%     8.85%
21  supplier 22   6.41%  4.60%  9.87%     1.37%
22  supplier 23   5.44%  3.09%  3.40%     6.38%
23  supplier 24   6.11%  3.68%  8.00%     7.18%
24  supplier 25   6.35%  2.43%  7.36%     7.34%
25  supplier 26   5.95%  5.10%  9.40%     7.81%
26  supplier 27  10.70%  9.85%  8.75%     4.09%
27  supplier 28   5.23%  1.57%  5.68%    10.90%
28  supplier 29   9.02%  3.47%  8.12%     5.86%
29  supplier 30   9.67%  3.86%  6.22%    10.05%

## 1. Average
Q1)The absolute difference in the average profit percentages of Delhi and Mumbai comes out to be approximately ____

- a) 1.67

- b) 1.57

- c) 1.77

- d) 1.47

In [4]:
#Your code here
#df.info()
#df["Delhi"] = df["Delhi"].apply(lambda x:x.replace('%','').astype(float64))
#df["Mumbai"] = df["Mumbai"].apply(lambda x:float(x.replace('%','')))
#df["Jaipur"] = df["Jaipur"].apply(lambda x:x.replace('%','').astype(float64))
#df["Hyderabad"] = df["Hyderabad"].apply(lambda x:float(x.replace('%','')))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Supplier   30 non-null     object
 1   Delhi      30 non-null     object
 2   Mumbai     30 non-null     object
 3   Jaipur     30 non-null     object
 4   Hyderabad  30 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [8]:
df['Jaipur'] = df['Jaipur'].str.replace('%','')

#df["Jaipur"] = df["Jaipur"].astype("float64")

0     7.90
1     8.99
2     6.71
3     7.94
4     8.54
5     6.52
6     7.12
7     7.79
8     8.99
9     7.57
10    9.21
11    7.10
12    9.05
13    9.50
14    4.54
15    7.60
16    8.95
17    9.79
18    4.92
19    8.35
20    6.99
21    9.87
22    3.40
23    8.00
24    7.36
25    9.40
26    8.75
27    5.68
28    8.12
29    6.22
Name: Jaipur, dtype: object

In [ ]:
df["Hyderabad"] = df["Hyderabad"].astype("float64")

In [6]:
df["Delhi"].mean() - df["Mumbai"].mean()

TypeError: Could not convert 4.57%2.60%2.26%6.47%6.82%4.68%7.43%4.49%5.72%5.64%6.27%4.88%5.15%8.52%11.96%5.26%8.13%5.93%6.05%6.67%5.34%6.41%5.44%6.11%6.35%5.95%10.70%5.23%9.02%9.67% to numeric

## 2. Box Plots

Plot a box plot to analyse the spread of profits for each of the cities. Which city has the highest profit value at the upper fence in the box plot?



- a) Delhi

- b) Mumbai

- c) Hyderabad

- d) Jaipur

In [ ]:
#Your code here
plt.figure(figsize=[9,7])
sns.boxplot(df['Content Rating'], inp1.Rating)
plt.show()

# Crypto Currencies

The following datasets contain the prices of some popular cryptocurrencies such as bitcoin, litecoin, ethereum, monero, neo, quantum and ripple.Now, you would like to know how the prices of these currencies vary with each other.
The cryptocurrencies and the corresponding columns in the dataset are as follows:


- bitcoin (Close_btc)
- litecoin(Close_ltc)
- ethereum(Close_et)
- monero(Close_mon)
- neo(Close_neo)

In [ ]:
#loading data
df=pd.read_csv("crypto.csv")

## 1. Correct Statements
Q1)Create a pair plot with all these columns and choose the correct statements from the given ones:

I)There is a good trend between litecoin and monero, one increases as the other

II)There is a weak trend between bitcoin and neo.


- a)I

- b)II

- c)Both I and II

- d)None of the above.

In [ ]:
#Your code here

## 2. Heatmap

As mentioned earlier, Heat Maps are predominantly utilised for analysing Correlation Matrix. A high positive correlation (values near 1) means a good positive trend - if one increases, then the other also increases. A negative correlation on the other hand(values near -1) indicate good negative trend - if one increases, then the other decreases. A value near 0 indicates no correlation, as in one variable doesn’t affect the other.

##### Correlation Matrix
Here, you can create a correlation matrix of the closing prices by passing the **df.corr()** function, (where df is the dataframe's name) and storing it in a variable. The code will be as follows

df2 = df.corr()


After that use this variable df2 to plot a heatmap and choose the correct option. 

Check out this link for creating a correlation matrix:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html

Q)2 - Create a correlation matrix for all the prices and then plot a heatmap to analyse the trends. Which of the following options is/are correct?

- a)Ethereum and Quantum have high correlation 

- b)Neo and Bitcoin have pretty low correlation

- c)Ethereum has similar correlation with litecoin and neo

In [ ]:
#Your code here